/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
  /* background-image: url("logo_transparent.png"); */
}
#logo-container{
  background-image: url("background1.jpg");

}
p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 620px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
img{
  width: 130px;
  height: auto;
  margin-top: -30px;
  
}
/* .card{
  float:left;
} */

#irene{
  margin-top:-5px;
  width: 300px;
  height: auto;
  border-radius: 50%;
}
#download-button2{
  margin-top: 50px;
}

#heyyou{
  margin-top: 200px;
}

#nav-mobile{
  float:left;
}

.background {
  /* background-color: #BCBCBC; */
  width: 100%;
  height: 50px;
  padding: 0; 
  margin: 0
}



#chart{
  width: 60%;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 40px;
  width: 60px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-linkedin {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-google {
  background: orangered;
  color: white;
}
.fa-github {
  background: grey;
  color: black;
}


/* .large-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.demo .large-header {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
     font-size: 3em;
  }
}
 */

 #hellaa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
  
  
}
